<nav>
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/">Home</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Summary">Summary</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Summary">Education</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Pubs">Publications</a></span></strong></p>
<hr /></nav>
