<nav>
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Summary">Summary</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Education">Education</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Pubs">Publications</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/index.html#Skills">Skills and Interests</a></span></strong></p>
<hr />
<p><strong><span style="font-size: 15pt; font-family: calibri, sans-serif;"><a href="/about.html">More About Me</a></span></strong></p>
<hr /></nav>
