<nav>
<!-- <div style="padding: 0.2em; display: inline-block; border-radius: 4px; font-size: 1.2rem;">     -->
   <div align="center">
  <div class="row">

      <a href="/images/photo_Anas.jpg">
        <img src="/images/photo_Anas_sm.jpg"
             style="border-radius: 50px; margin: 10px; max-width: 100%;"
             alt="Me."/>
      </a>
    </div>
<div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Anas Zainul Abidin</div>
<div style='font-size: 1.2em;'>
        Ph.D. Biomedical Engineering
      </div>
<div style='font-size: 1.2em'>
        Solutions Architect - Healthcare
      </div>
<div style='font-size: 1.2em'>
        <a href="https://www.nvidia.com/en-us/industries/healthcare-life-sciences/">NVIDIA </a>
      </div>
<br/>

  </div>

<ul style="list-style: none">          
	<li><a href="mailto:anas.abidin@rochester.edu" target="_blank">
            <i class="fas fa-at fa-4x"></i></a></li><hr/>
    
    <li><a href="http://github.com/anaszain89" target="_blank"> 
            <i class="fab fa-github-square fa-4x"></i></a></li><hr/>
    
    <li><a href="https://scholar.google.com/citations?user=C1IIlf4AAAAJ&hl=en" target="_blank">
            <i class="fas fa-graduation-cap fa-4x"></i></a></li><hr />
    
    <li><a href="http://www.linkedin.com/in/anaszain89" target="_blank">
            <i class="fab fa-linkedin fa-4x"></i></a></li><hr />
    
    <li><a href="http://twitter.com/anaszain89" target="_blank">
            <i class="fab fa-twitter-square fa-4x"></i></a></li><hr />

</ul>
<!-- </div> -->

</nav>
